<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsh.sys.mapper.SysDictDataMapper">
    <resultMap type="SysDictData" id="SysDictDataResult">
        <result property="dictCode"    column="dict_code"    />
        <result property="dictSort"    column="dict_sort"    />
        <result property="dictLabel"    column="dict_label"    />
        <result property="dictValue"    column="dict_value"    />
        <result property="dictType"    column="dict_type"    />
        <result property="cssClass"    column="css_class"    />
        <result property="listClass"    column="list_class"    />
        <result property="isDefault"    column="is_default"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />

    </resultMap>

    <sql id="selectSysDictDataVo">
        select dict_code, dict_sort, dict_label, dict_value, dict_type, css_class, list_class, is_default, status, create_by, create_time, update_by, update_time, remark from sys_dict_data
    </sql>

    <select id="selectSysDictDataList" parameterType="SysDictData" resultMap="SysDictDataResult">
        <include refid="selectSysDictDataVo"/>
        <where>  
            <if test="dictSort != null "> and dict_sort = #{dictSort}</if>
            <if test="dictLabel != null  and dictLabel != ''"> and dict_label = #{dictLabel}</if>
            <if test="dictValue != null  and dictValue != ''"> and dict_value = #{dictValue}</if>
            <if test="dictType != null  and dictType != ''"> and dict_type = #{dictType}</if>
            <if test="cssClass != null  and cssClass != ''"> and css_class = #{cssClass}</if>
            <if test="listClass != null  and listClass != ''"> and list_class = #{listClass}</if>
            <if test="isDefault != null  and isDefault != ''"> and is_default = #{isDefault}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectDictDataByType" parameterType="SysDictData" resultMap="SysDictDataResult">
        <include refid="selectSysDictDataVo"/>
        where status = '0' and dict_type = #{dictType} order by dict_sort asc
    </select>
    
    <select id="selectDictLabel" resultType="String">
        select dict_label from sys_dict_data
        where dict_type = #{dictType} and dict_value = #{dictValue}
    </select>
</mapper>